<div class="main_container">
<div class="profile">
<div class="photos">
    <ul class="photo"> 
   <li> <img src="<%= @users.photo %>"> </li>
   </ul>
</div>
<div class="names_posts">
    <ul class="name_post"> 
   <li class="list_name"> <%= @users.name %> </li>
   <li class="list_countpost">Number of post: <%= @users.post_counter %> </li>
   </ul>
</div>
</div>
<div class="bio">
    <ul class="bio_info width"> 
    <h3 class="title">Bio</h3>
   <li class="bio_content"> <%= @users.bio %> </li>
   </ul>
</div>
<div class="post">
    <ul class="post_info width"> 
    <h3 class="title"><%= @posts.title%> #<%= @posts.id%></h3>
   <li class="bio_content"> <%= @posts.text %> </li>
   <li class="list_countcomentlikes">Comments: <%= @posts.comments_counter %>, Likes: <%= @posts.likes_counter %> </li>
   </ul>
</div>
<button class="allcoment"> <%= link_to 'See all Post', user_posts_path(@users) %> </button>
</div>